<!-- =========================================
     MODAL ENGINE
========================================= -->

<div id="modal" class="modal">
  <div class="modal-dialog">
    <!-- Header -->

    <
    <div class="modal-header">
      <h2 id="modalTitle" class="modal-title"></h2>

      <button id="modalClose">
        <i data-lucide="x"></i>
      </button>
    </div>

    <!-- Body -->

    <div id="modalBody" class="modal-body"></div>

    <!-- Footer -->

    <div id="modalFooter" class="modal-footer"></div>
  </div>
</div>
